.active {
    color: red;
}

header {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    list-style: none;
}



ul a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    color: white;
    font-size: 1.3rem;
}

a:hover {
    background-color: grey;
}