<header>
<div class="container">
    <nav>
        <ul>
            <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Home</a></li>
            <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/users">Users</a></li>
            <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/users/1">User Details</a></li>
            <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/profile">Profile</a></li>
            <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/404">Error</a></li>
        </ul>
    </nav>
</div>
</header>