    <!-- User Content -->
    <section class="user">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="col-12 text-center mb-4">
                    <img src="assets/images/user.png" width="200" alt="">
                </div>
                </div>

                <main class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8 mx-auto mb-4">
                        <div class="col-12">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <div>
                                        <label for="first_name" class="form-label">Name</label>
                                        <input disabled type="text" class="form-control " value="Tarek Khalifa">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <label for="last_name" class="form-label">Age</label>
                                        <input disabled type="text" class="form-control " value="26">
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input disabled id="last_name" class="form-control " value="user.tarek@outlook.com">
                            </div>

        
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>
    <!-- User Content -->