<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor=" let user of getUserData">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
          </tr> -->
      <tr>
        <td>1</td>
        <td>Tarek</td>
        <td>26</td>
        <td>user.tarek@yahoo.com</td>
      </tr>

      <tr>
        <td>2</td>
        <td>Ahmed</td>
        <td>30</td>
        <td>ahmed@yahoo.com</td>
      </tr>
    </tbody>
  </table>
</div>